@model TourViewModel
@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>
<div class="cards">
    <div class="mycard ">
        <a href="#">
            <img src="@Model.Image" asp-append-version="true" />
        </a>
    </div>
</div>
