@model IEnumerable<TourViewModel>
@{
    ViewData["Title"] = "Результаты поиска";
}

<h5 class="display-6">Результаты поиска</h5>
<div class="cards">
    @foreach (var item in Model)
    {
        <div class="mycard ">
            <a href="#">
                <img src="@item.Image" asp-append-version="true" />
            </a>
        </div>
    }
</div>
